Vivado/
cpp_src/build/
.vscode/
.claude/
.cache/
._.DS_Store
build/
.venv/
corundum/
IP_core_example/
Note/
.Xil/
openspec/
.vscode/
verilator_src/
.codex/
obj_dir/
corundum_exanic_x10/
.cache/
mkdocs/
docs/
build/
cpp_src/FPGA_boost_demo/tests/
progress/
xsim.dir/
perf.data*
*.perf.data
